html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    font-family: 'Futura PT';
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

img, object {
    user-select: none;
}

::selection {
    color: #000;
    background: #ffffff;
}
.hidden {
	display: none;
}