ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav {
    position: absolute;
    top: 2rem;
    z-index: 11;
    user-select: none;
    .menu {
        display: flex;
    }

    ul {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    li {
        display: flex;
        margin: 0 1rem;
        a {
            font-size: calc(0.6rem + 0.5vw);
            font-weight: 300;
            text-decoration: none;
            outline: none;
        }
    }
    
}

.nav-left {
    left: 3rem;
}
.nav-right {
    right: 3rem;
}




